---
import { Footer, Header, Sidebar } from "../components";

const { pageTitle } = Astro.props;
const allPosts = await Astro.glob("../pages/posts/*.md");
const { pathname } = Astro.url; // current pathname

const allPostsReferences = allPosts.map((post) => ({
    url: post.url,
    title: post.frontmatter.title,
}));
const postsReferences = allPosts.find((post) => post.url === pathname)
    ?.frontmatter.sections;
---

<!doctype html>
<html lang="en" class="bg-gray-800 font-sans h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body class="h-full bg-white dark:bg-gray-1 text-gray-2 dark:text-white">
        <Header client:load pageTitle={pageTitle} />

        <main class="flex flex-row justify-between w-full h-[calc(100vh-6rem)]">
            <Sidebar client:load allReferences={allPostsReferences} />

            <div class="flex flex-col content-between w-full h-full">
                <article class="h-full">
                    <slot />
                </article>
                <Footer client:load />
            </div>

            <Sidebar client:load allReferences={postsReferences} />
        </main>
    </body>
</html>

<script is:inline>
// Load the theme
const theme = (() => {
    if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
    ) {
        return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
    }
    return "light";
})();

if (theme === "light") {
    document.documentElement.classList.remove("dark");
} else {
    document.documentElement.classList.add("dark");
}

window.localStorage.setItem("theme", theme);
</script>
