---
import { ButtonHeader, Footer, Header, Sidebar } from "../components";
import "../styles/global.css";
import "../styles/prism.css";

const { pageTitle } = Astro.props;
const allPosts = await Astro.glob("../pages/posts/*.md");
const { pathname } = Astro.url; // current pathname

const allPostsReferences = allPosts.map((post) => ({
    url: post.url,
    title: post.frontmatter.title,
}));
const postsReferences = allPosts.find((post) => post.url === pathname)
    ?.frontmatter.sections;

// Header buttons styles
const buttonGeneralStyle = "w-40 text-center text-base rounded-full ";
---

<!doctype html>
<html lang="en" class="bg-gray-800 font-sans h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap"
            rel="stylesheet"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body
        class="h-full bg-white dark:bg-gray-1 text-gray-2 dark:text-white overflow-hidden"
    >
        <Header client:load pageTitle={pageTitle} />

        <main
            id="main-content"
            class="h-[calc(100vh-6rem)] grid lg:grid-cols-[20rem_auto] 2xl:grid-cols-[20rem_auto_20rem] overflow-y-auto"
        >
            <Sidebar
                client:load
                allReferences={allPostsReferences}
                classStyles="hidden lg:flex lg:flex-col lg:pb-16 lg:pr-[30px] lg:hover:pr-5 lg:sticky overflow-y-hidden lg:hover:overflow-y-scroll lg:max-h-[calc(100vh-6rem)] lg:flex-1"
            />

            <div
                class="flex flex-col justify-between w-full h-full flex-1 overflow-y-auto"
            >
                <article class="arduino-article px-12 py-5 min-h-80">
                    <slot />
                </article>
                <div>
                    <hr
                        class="ms-5 me-5 mt-4 mb-2 border-b border-gray-4 dark:border-gray-3"
                    />
                    <Footer client:load />
                </div>
            </div>

            <Sidebar
                client:load
                allReferences={postsReferences}
                classStyles="hidden 2xl:flex 2xl:flex-col 2xl:pb-16 2xl:pr-[30px] 2xl:hover:pr-5 2xl:sticky overflow-y-hidden 2xl:hover:overflow-y-scroll 2xl:max-h-[calc(100vh-6rem)] 2xl:flex-1"
                title="En esta página"
            />
        </main>

        <main id="menu-content" class="hidden">
            <header class="pt-4 flex flex-row justify-around">
                <ButtonHeader
                    client:load
                    textButton="Projects"
                    pathURL="/"
                    generalStyles={buttonGeneralStyle}
                />
                <ButtonHeader
                    client:load
                    textButton="About"
                    pathURL="/about"
                    generalStyles={buttonGeneralStyle}
                />
            </header>
            <hr
                class="ms-5 me-5 mt-4 mb-2 border-b border-gray-4 dark:border-gray-3"
            />

            <Sidebar
                client:load
                allReferences={allPostsReferences}
                classStyles="lg:hidden flex flex-col pb-16 pr-[30px] hover:pr-5 sticky overflow-y-hidden hover:overflow-y-scroll max-h-[calc(100vh-6rem)]"
            />
        </main>

        <script>
            import "../scripts/theme.js";
            import "../scripts/prism.js";
        </script>
    </body>
</html>
