---
import { ButtonHeader, Footer, Header, Sidebar } from "../components";

const { pageTitle } = Astro.props;
const allPosts = await Astro.glob("../pages/posts/*.md");
const { pathname } = Astro.url; // current pathname

const allPostsReferences = allPosts.map((post) => ({
    url: post.url,
    title: post.frontmatter.title,
}));
const postsReferences = allPosts.find((post) => post.url === pathname)
    ?.frontmatter.sections;

// Header buttons styles
const buttonGeneralStyle = "w-40 text-center text-base rounded-full ";
---

<!doctype html>
<html lang="en" class="bg-gray-800 font-sans h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body class="h-full bg-white dark:bg-gray-1 text-gray-2 dark:text-white">
        <Header client:load pageTitle={pageTitle} />

        <main
            id="main-content"
            class="min-h-[calc(100vh-6rem)] grid lg:grid-cols-[20rem_auto] 2xl:grid-cols-[20rem_auto_20rem]"
        >
            <Sidebar
                client:load
                allReferences={allPostsReferences}
                classStyles="hidden lg:flex lg:flex-col lg:pr-5 lg:sticky lg:overflow-y-scroll lg:max-h-[calc(100vh-6rem)]"
            />

            <div class="flex flex-col content-between w-full h-full">
                <article class="h-full">
                    <slot />
                </article>
                <Footer client:load />
            </div>

            <Sidebar
                client:load
                allReferences={postsReferences}
                classStyles="hidden 2xl:flex 2xl:flex-col"
            />
        </main>

        <main id="menu-content" class="hidden">
            <header class="pt-4 flex flex-row justify-around">
                <ButtonHeader
                    client:load
                    textButton="Projects"
                    pathURL="/"
                    generalStyles={buttonGeneralStyle}
                />
                <ButtonHeader
                    client:load
                    textButton="About"
                    pathURL="/about"
                    generalStyles={buttonGeneralStyle}
                />
            </header>
            <hr
                class="ms-5 me-5 mt-4 mb-2 border-b border-gray-4 dark:border-gray-3"
            />
        </main>

        <script>
            import "../scripts/theme.js";
        </script>
    </body>
</html>
